on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: asdf-vm/actions/install@v4
      with:
        tool_versions: |
          action-validator 0.7.1
    - run: asdf reshim action-validator
    - run: action-validator ./action.yml
    - run: action-validator ./.github/workflows/*

  custom-controller-login:
    if: ${{ github.actor != 'dependabot[bot]' }}
    needs:
    - test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: ./
      with:
        username: ${{ secrets.RUNWAY_LOGIN }}
        password: ${{ secrets.RUNWAY_PASSWORD }}
        controller-url: ${{ secrets.RUNWAY_CONTROLLER }}
    - run: env|grep RUNWAY_CONTROLLER
